DirectoryIndex index.php
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-s

  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteCond %{REQUEST_URI} !=/robots.txt
  RewriteCond %{REQUEST_URI} !^/.well-known/.*$
  RewriteCond %{REQUEST_URI} !^/?cache.*$
  RewriteCond %{REQUEST_URI} !^/?lib.*$
  RewriteCond %{ENV:REDIRECT_STATUS} ![45]0[0-9]
  RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
</IfModule>